{% extends "base.html.twig" %}
{% block title %} About {% endblock %}


{% block body %}
<style>
body{
  position:relative;
}
    /* footer section styling */
    footer{
        border-radius: 100px 100px 0px 0px; ;
        background: #111;
        padding: 15px 23px;
        color: #fff;
        text-align: center;
    }
    footer span a{
        color: crimson;
        text-decoration: none;
    }
    footer span a:hover{
        text-decoration: underline;
    }
</style> 
<center>
  <center>
            <a href="home">
                <h1 style="font-family: 'Brush Script MT', cursive; margin-top: 50px;">
                    <u> easy shop </u>
                </h1>
            </a>
        </center>
    <div style="margin: 100px;">
      <p style=" color :#fff; margin-left:50px;margin-right: 00px; font-family: 'Brush Script MT', cursive; font-size: 25px;">
          This critical review provides a processing-structure-property perspective on recent advances in cellulose nanoparticles and composites produced from them. It summarizes cellulose nanoparticles in terms of particle morphology, crystal structure, and properties. Also described are the self-assembly and rheological properties of cellulose nanoparticle suspensions. The methodology of composite processing and resulting properties are fully covered, with an emphasis on neat and high fraction cellulose composites. Additionally, advances in predictive modeling from molecular dynamic simulations of crystalline cellulose to the continuum modeling of composites made with such particles are reviewed (392 references).Two of the most critical requirements in support of producing reliable face-recognition systems are a large database of facial images and a testing procedure to evaluate systems. The Face Recognition Technology (FERET) program has addressed both issues through the FERET database of facial images and the establishment of the FERET tests. To date, 14,126 images from 1,199 individuals are included in the FERET database, which is divided into development and sequestered portions of the database. In September 1996, the FERET program administered the third in a series of FERET face-recognition tests. The primary objectives of the third test were to 1) assess the state of the art, 2) identify future areas of research, and 3) measure algorithm performance.
      </p>
    </div>
  </center>

  <footer style="position:absulue; margin-top:0%;bottom:0px;margin-bottom: 0%; background: #111111;  ">
    <span style=" margin-left: 10px; align-content: center; align-items: center; justify-content: center;" >Created By mouloud elarram at SamabCom | &copy; 2021 All rights reserved.</span>
  </footer>
{% endblock %} 