{% extends "base.html.twig" %}

{% block body %}
<center>
            <a href="home">
                <h1 style="font-family: 'Brush Script MT', cursive; margin-top: 50px;">
                    <u> easy shop </u>
                </h1>
            </a>
        </center>
{% endblock %}